<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">


    <title>sync whats app contacts</title>
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">

    <link rel='stylesheet prefetch' href='http://daneden.github.io/animate.css/animate.min.css'>
<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700'>
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<script type="text/javascript">
	function submitform()
	{
	  document.form.submit();
	}
</script>


  </head>

  <body>

    <div class='info'>
  <h1>Contact Sync Form</h1>
  <span>
    Made with
    <i class='fa fa-heart animated infinite pulse'></i>
    by
    swap & girish
    
  </span>
</div>
<div class='form aniamted bounceIn'>
  
  <div class='login'>
    <h2>Validate WhatsApp Contacts</h2>
   
    <form action="/sync" method="post" id="form">
      <input placeholder='registered sender contact without CC' type='text' name="phone_no">
      <input placeholder='comma_seperated_list_of_contacts_with_country_code' type='text' name="contacts">
     
      <button onclick="submitform()">Validate</button>
    </form>
  </div>
  <footer>
  
   <i class='fa fa-heart animated infinite pulse'></i> WhatsApp <i class='fa fa-heart animated infinite pulse'></i>
  </footer>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    
    
    
  </body>
</html>
