<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">


    <title>register new number</title>
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">

    <link rel='stylesheet prefetch' href='http://daneden.github.io/animate.css/animate.min.css'>
<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700'>
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<script type="text/javascript">
	function submitform()
	{
		$cc = $('#cc');
		$phone_no = $('#phone_no');
		$mcc = $('#mcc');
		$mnc = $('#mnc');
		if ($cc.val()=="" && $phone_no.val()=="" && $mcc.val()=="" && $mnc.val()=="") {
			
		document.getElementById("msg").style.color="red";
        document.getElementById("msg").innerHTML="TextFields Can't be Empty.";
        
        }
        else {
        
	  document.form.submit();
	  }
	}
</script>  


  </head>

  <body>

    <div class='info'>
  <h1>New Registration Form</h1>
  <span>
    Made with
    <i class='fa fa-heart animated infinite pulse'></i>
    by
    swap & girish
    
  </span>
</div>

<div class='form aniamted bounceIn'>

<div id="msg">
  </div>  
  
  <div class='login'>
    <h2>Register New WhatsApp Account</h2>
   
    <form action="/register" method="post" id="form">
      <input placeholder='Country Code' type='text' name="cc" id="cc">
      <input placeholder='Contact to be register without CC' type='text' name="phone_no" id="phone_no">
      <input placeholder='MCC (Mobile country code)' type='text' name="mcc" id="mcc">
      <input placeholder='MNC (Mobile Network Code)' type='text' name="mnc" id="mnc">

      <button onclick="submitform()">Register</button>
    </form>
  </div>
  <footer>
   <i class='fa fa-heart animated infinite pulse'></i> WhatsApp <i class='fa fa-heart animated infinite pulse'></i>
  </footer>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="{{ url_for('static', filename='js/index.js') }}"></script>

  </body>
</html>
